<!-- Handlebar syntax -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some webpage</title>
  </head>
  <body>

    <h1>The site is down</h1>

    <!-- <p>{{welcomeText}}</p> -->

    <p>We'll be back in a minute</p>

    {{> footer}}

    <!-- <footer>
      <p>Copyright {{currentYear}}</p>
    </footer> -->

  </body>
</html>
